/* body *{
	font-family: "Quicksand", sans-serif !important;
	
  } */
/* a{
	text-decoration: none;
} */
/* .singleProduct-container {
  display: flex;
}
.right-side {
  width: 10%;
}
.left-side {
  width: 10%;
}
.singleProduct-innerside {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-cart {
  height: 430px;
  width: 19%;
  border: 1px solid;
  margin-bottom: 50px;
  position: relative;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.product-img {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  height: 250px;
  padding: 25px 25px 0 25px;
}
.product-img img {
  height: 100%;
  width: 100%;
}

.product-content {
  padding: 0 20px 20px 20px;
}
.item-category {
  margin-bottom: 5px;
}
.item-category a.link-item {
  color: #adadad;
  font-size: 12px;
  text-decoration: none;
}
h2.item-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "Quicksand", sans-serif;
}
h2.item-title a.link-item {
  color: #253d4e;
  font-family: "Quicksand", sans-serif;
}
h2.item-title a.link-item:hover {
  color: #3bb77e;
}
span.vendour-details {
  color: #b6b6b6 !important;
}
span.vendour-details a:hover {
  color: orange;
}
.product-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 15px 0px 15px 0px;
}
.product-price {
  padding-top: 5px;
}
.product-price span {
  font-size: 18px;
  font-weight: bold;
  color: #3bb77e;
}
.product-cart-wrap .product-card-bottom .add-cart {
  cursor: pointer;
}
.add-cart .add {
  position: relative;
  display: inline-block;
  padding: 6px 20px 6px 20px;
  border-radius: 4px;
  background-color: #def9ec;
  font-size: 14px;
  font-weight: 700;
}
a,
button,
img,
input,
span,
h4 {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
} */
