.bottom-nav\, {
	padding: 30px 10px;
	border-bottom: 1px solid #ececec;
}
.main-categori-wrap.d-none.d-lg-block>a {
	color: #fff;
	line-height: 44px;
	background: #3BB77E !important;
	padding: 0 10px 0px 20px;
	font-size: 16px !important;
	font-weight: 700;
	border-radius: 5px;
	font-family: sans-serif !important;
}
.main-categori-wrap>a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex !important;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px !important;
	font-weight: 700;
}
.header-bottom.header-bottom-bg-color.sticky-bar {
	border-bottom: 1px solid #ececec;
	padding: 0px 12px !important;
}
.main-categori-wrap>a span {
	margin-right: 7px;
	color: white;
}
a.categories-button-active svg {
	color: #fff;
	margin-left: 6px;
	font-size: 25px;
	margin-bottom: 0px;
}
ul.nav-bar {
	display: flex;
	justify-content: space-around;
}
ul.nav-bar li {
	list-style: none;
}
ul.nav-bar li a {
	text-decoration: none;
	color: #253d4e;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
}
.sticky-header {
	position: sticky;
	z-index: 50;
	top: 0px;
	animation: stickheader 0.3s ease forwards;
	padding: 2px 10px;
	background-color: white;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
.main-categori-wrap>a span {
	margin-right: 7px !important;
	color: white !important;
}
@keyframes stickheader {
	0% {
		transform: translateY(-60px);
	}
	100% {
		transform: translateY(0px);
	}
}