button.slick-arrow.slick-prev {
  background: green;
  font-size: 30px;
  height: 30px;
  width: 30px;
  border-radius: 16px;
  position: absolute;
  left: 5px;
  z-index: 99;
}
button.slick-arrow.slick-next {
  font-size: 30px;
  height: 30px;
  width: 30px;
  border-radius: 16px;
  position: absolute;
  right: 10px;
  z-index: 99;
}
